/*Niral added css*/
.astrick {
    color: red;
}
.delete_img{cursor: pointer;}
.margin-bottom{margin:3px;}
/*Ritesh added css*/
.datepicker{z-index: 10000;}
.bd-dragimage .eachImage {height: 92px;margin: 5px 5px 14px;}
.bd-dragimage .eachImage .preview {height: 92px;padding: 5px;display: block;}
.bd-dragimage .eachImage .preview p{  height: 22px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.bd-dragimage .eachImage .preview img {height: 56%;margin: 0 auto 8px;width: auto;max-width: 100%;}
.bd-dragimage .eachImage .preview .image_ext img {height: 100%;box-shadow: none;}
.image_ext .img_show {color: #fff;font-size: 15px;font-weight: bold;left: 39px;position: absolute;top: 14px;z-index: 1111;}
.bd-dragimage .image_part {min-height: 0px;}
.bd-dragimage .eachImage .preview .image_ext {height: 46px;}
.form-group.dropzone{padding: 0; min-height: 0;}
.dropzone, .dropzone *, .dropzone-previews, .dropzone-previews *{min-height: inherit;}
.bd-dragimage .image_part{min-height: inherit; text-align: center; padding-top: 30px;}
.panel.tile .panel-body h2{padding-right: 0;}
.panel.tile .panel-body h2 > a.attachment{position: static; float: right; padding: 0 5px;}
.panel.tile .panel-body h2 > a.attachment:first-child{padding-right: 0;}